*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
    "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

.hover-action {
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.hover-action:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(0, -4px);
  transform: translate(0, -4px);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
}

/*--------------------------------
 文字
---------------------------------*/
.heading-primary {
  font-family: "Open sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 50px;
  letter-spacing: 0.05em;
}

.section-heading {
  margin-bottom: 20px;
  text-align: center;
}

.section-lead {
  margin-bottom: 30px;
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-small {
  font-size: 0.8rem;
}

.text-center {
  text-align: center;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 68px;
}

.section {
  padding: 120px 0;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.inner {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
}

.space-top {
  margin-top: 15px;
}

.space-left {
  margin-left: 50px;
}

.space-bottom {
  margin-bottom: 20px;
}

.text-big {
  font-size: larger;
}

.text-small {
  font-size: 0.8rem;
}

/* マウスオーバーした時に関するCSS */

.btn-gradient-3d-orange {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.btn-gradient-3d-orange:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.btn-gradient-3d-orange2 {
  margin-top: 20px;
  margin-bottom: 30px;
  display: inline-block;
  width: 200px;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.btn-gradient-3d-orange2:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}


.smart-image {
overflow: hidden;
}

.smart-image img {
width: 100%;
height: 100%;
}


.smart-image img:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.8s ease; /*ふわっとさせる間隔*/
}

/* ここまで */

.box1 {
  padding: 0.5rem 1rem;
  margin: 0rem auto;
  font-weight: bold;
  color: #6091d3; /*文字色*/
  background: #fff;
  border: solid 3px #6091d3; /*線*/
  border-radius: 10px; /*角の丸み*/
}

.box2 {
  padding: 0.5rem 1rem;
  margin: 1rem auto 0;
  font-weight: bold;
  color: #6091d3; /*文字色*/
  background: #fff;
  border: solid 3px #6091d3; /*線*/
  border-radius: 10px; /*角の丸み*/
}

.box3 {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: #00bcd4;
  background: #e4fcff; /*背景色*/
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); /*影*/
}

.balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.box4 {
    margin: 1rem 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box4 p {
    margin: 0; 
    padding: 0;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  height: 190vh;
  background: url(../img/1820206_m.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.logo {
  position: absolute;
  top: 20vh;
  width: 100%;
  text-align: center;
}

.logo-title {
  font-family: "Open sans", sans-serif;
  font-size: 64px;
  line-height: 1;
  letter-spacing: 0.2em;
}

.logo-subtitle {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  letter-spacing: 0.2em;
}

.header-image1 {
  position:absolute;
  top: 90vh;
  left: 3vw;
  width: 30vw;
}

.header-image1 img {
  border-radius: 50px;
}

.header-image2 {
  position:absolute;
  display: inline-block;
  top: 55vh;
  left: 34.5vw;
  width: 30vw;
}

.header-image2 img {
  border-radius: 50px;
  text-align: center;
}

.header-image3 {
  position:absolute;
  top: 90vh;
  right: 3vw;
  width: 30vw;
}

.header-image3 img {
  border-radius: 50px;
}


/*--------------------------------
 グローバルナビ
---------------------------------*/
.gnav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gnav-item {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  padding: 0 24px;
  letter-spacing: 0.05em;
}

.gnav-link {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #333;
}

.gnav-link:hover {
  opacity: 1;
}

.gnav-link:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.gnav-link:hover:after {
  width: 100%;
}

/* iOS対策 */
.ios .gnav-link:after,
.ios .gnav-link:hover:after {
  display: none;
}

/* グローバルナビゲーションの追加編集 */

.gnav {
  background: linear-gradient(#05FBFF, #1E00FF);
}

.gnav-link {
  color: white;
}

/* ここまで */

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  flex: 0 0 32.31552%;
  margin-right: 1.52671%;
  margin-bottom: 40px;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-body {
  text-align: center;
}

.works-title {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-text {
  font-size: 10px;
}

.works-url {
  font-size: 10px;
}

.works-image.fadein {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

.works-image.fadein.lazyloaded {
  opacity: 1;
}

/*--------------------------------
 Feature
---------------------------------*/
.feature-item {
  display: flex;
  justify-content: space-evenly;
}

.feature-image-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  width: 48%;
}

.feature-body {
  width: 48%;
}

.feature-body p:not(:last-child) {
  margin-bottom: 20px;
}

/*--------------------------------
 About
---------------------------------*/
.about-section .inner {
  max-width: 1000px;
}

.about-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-image-wrapper {
  width: 50%;
  margin-right: 40px;
}

.about-image {
  border-radius: 50%;
  box-shadow: 0 0 25px 0 #d9d9d9;
}

.about-body {
  flex: 1;
}

.about-body p:not(:last-child) {
  margin-bottom: 20px;
}

/*--------------------------------
 Skill
---------------------------------*/

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  flex: 0 0 46%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.skill-image-wrapper {
  width: 50%;
  margin-right: 10px;
}

.skill-body {
  width: 40%;
}

.skill-body p:not(:last-child) {
  margin-bottom: 20px;
}

.skill-title {
  margin-bottom: 3px;
}

.rate {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  height: 20px;
  letter-spacing: 0.3em;
}

.rate:before,
.rate:after {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  content: "★★★★★";
}

.rate:before {
  color: #ddd;
}

.rate:after {
  overflow: hidden;
  white-space: nowrap;
  color: #f181b4;
}

.rate1:after {
  width: 20px;
}

.rate2:after {
  width: 40px;
}

.rate3:after {
  width: 60px;
}

.rate4:after {
  width: 80px;
}

.rate5:after {
  width: 100px;
}

.sample {
  text-align: center;
}

/* slick */

.slick-slide img {
  border-radius: 50px;
  margin: 0 auto;
}


/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  width: 90px;
  margin: 0 10px;
  text-align: center;
}

.contact-text {
  margin-top: 10px;
  text-align: center;
}

/* ここから追加 */

table {
  border-collapse: collapse;
}
 
input[type="submit"],
input[type="text"],
select,
textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
}
 
 
input[type="text"],
textarea {
  background: #f8f8f8;
  display: block;
  font-size: 16px;
  padding: 12px 15px;
  width: 100%;
  transition: 0.8s;
  border-radius: 0;
}
 
input[type="text"]:focus,
textarea:focus {
  background: #e9f5fb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
 
textarea[name="content"] {
  display: inline-block;
  width: 100%;
  height: 200px;
}
 
input::placeholder,
textarea::placeholder {
  color: #ccc;
}
 
::-webkit-input-placeholder {
  color: #ccc;
  opacity: 1;
}
 
::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
 
:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}
 
.form-table {
  width: 100%;
}
 
.form-table th,
.form-table td {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  padding: 20px;
}
 
.form-table th {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #ffffff 100%);
  padding-left: 50px;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 300px;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  background-color: #1d1d1d;
}

.footer .inner {
  padding: 30px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #8c8c8c;
}

.page-top {
  font-size: 12px;
  font-weight: bold;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #ccc;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  .hover-action {
    -webkit-transition: none;
    transition: none;
  }

  .hover-action:hover {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
  }

  /* 文字 */
  .section-heading {
    margin-bottom: 20px;
  }

  .heading-primary {
    font-size: 22px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 82px;
  }

  .section {
    padding: 60px 0;
  }

  .section .inner {
    padding: 0 15px;
  }

  /* ヘッダー */
  .header {
    height: 70vh;
  }

  .logo-title {
    font-size: 25px;
    letter-spacing: 0.16em;
  }

  .logo-subtitle {
    font-size: 15px;
  }

  /* グローバルナビ */
  .gnav {
    padding: 15px 0;
    min-height: 82px;
  }

  .gnav-item {
    font-size: 13px;
    padding: 2px 15px;
  }

  .gnav-link {
    padding: 0;
  }

  .gnav-link:hover {
    opacity: 1;
  }

  .gnav-link:after {
    display: none;
  }

  /* Works */
  .works-body {
    text-align: left;
  }

  .works-title {
    font-size: 10px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
    min-height: 150px;
  }

  /* Feature */
  .feature-item {
    display: block;
  }

  .feature-image-wrapper {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .feature-body {
    width: 100%;
  }

  /* About */
  .about-item {
    display: block;
  }

  .about-image-wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 20px;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    max-width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-image-wrapper {
    width: 100%;
    margin-right: 15px;
  }

  .skill-body {
    width: 100%;
  }

  .rate {
    font-size: 15px;
    height: 15px;
  }

  .rate:before,
  .rate:after {
    line-height: 15px;
    height: 15px;
  }

  .rate1:after {
    width: 15px;
  }

  .rate2:after {
    width: 35px;
  }

  .rate3:after {
    width: 55px;
  }

  .rate4:after {
    width: 75px;
  }

  .rate5:after {
    width: 95px;
  }

  .smart-image {
    height: 120px;
  }

  .skill-title {
    margin-top: 5px;
  }

  /* Contact */
  .contact-item {
    width: 40px;
    margin: 0 10px;
  }

  /* フッター */
  .footer .inner {
    padding: 20px 0;
  }

  .sample-left {
    width: 100%;
    text-align: center;
  }

  .form-table th {
  width: 150px;
  padding-left: 10px;
  }
  
  .header-image1 {
    top: 35vh;
    width: 28vw;
  }

  .header-image2 {
    top: 30vh;
    left: 35vw;
    width: 28vw;
  }

  .header-image3 {
    top: 35vh;
    width: 28vw;
  }

  .logo {
  top: 10vh;
  }
